<h1>About Blocitoff</h1>
<p>Created by: Jeffrey Liu</p>

<div class="row">
  <div class="col-md-8">
    <h3>User Stories</h3>
      <ul>1. As a user, I want to <b>sign up</b> for a free account by providing a user name, password and email.</ul>
      <ul>2. As a user, I want to sign in and out of Blocitoff.</ul>
      <ul>3. As a user, I want to <b>create</b> a single to-do list.</ul>
      <ul>4. As a user, I want to <b>create</b> multiple to-do items on my to-do list.</ul>
      <ul>5. As a developer, I want the development database to be automatically seeded with users, to-do lists, and items.</ul>
      <ul>6. As a user, I want to <b>mark</b> to-do items as complete and have them deleted.</ul>
      <ul>7. As a user, I want to <b>see</b> how many days remain before a to-do item is automatically deleted.</ul>
      <ul>8. To-do items should be <b>automatically deleted</b> seven days after their creation date.</ul>
  </div>
</div>