<div class="jumbotron">
  <h1>Blocitoff:</h1>
  <p>A self-destructing to-do list to keep you focused on the things that really matter.</p>
</div>

<div class="row">
  <div class="col-md-8">
    <%= link_to "Your To-Do List", "/lists/1", class: 'btn btn-success' %>
  </div>
</div>